.tamaño-logo {
    width: 200px; 
    height: 30px;
}
.unaspalabras {
    width: 1440px;
    height: 384px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.unas-palabras {
    display: flex;
    justify-content: center;
    align-items: center;
}
.palabras {
    width: 996px;
    height: 146px;
    text-align: center;
}
h2 {
    position: absolute;
}
.section-hablemos {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hablemos {
    width: 793px;
    height: 218px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.parrafo-hablemos {
    color: white;
    width: 334px;
}
footer{
    width: 1440px;
    height: 446px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ul-footer {
    display: flex;
    flex-direction: row;
    width: 657px;
    justify-content: space-between;
}