header{
    background-color:rgb(255, 255, 255);
    height: 70px;
    padding-block: 20px;
    padding-inline: 20px;
}

nav{
    font-size: 26px;
    font-family: franklin gothic book;
    font-weight: bold;
    position: relative;
    top: -80%;
}

nav ul li{
    display: inline;
    position: relative;
    left:700px;
    text-decoration: none;
}

nav a{
    color: black;
    text-decoration: none;
    padding-left: 20px;
}

.logo{
    width: 187px;
    height: 43px;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    width: 1440px;
}

.hablemos {
    background-color: rgb(0, 0, 0);
    width: 1440px;
    height: 218px;
    display: inline-block;
}

.hablemos p {
    color: #ffffff;
    display: block;
    width: 364px;
    position: relative;
    top: 15%;
    left: 15%;

}

.hablemos a {
    display: inline;
    color: black;
    position: relative;
    bottom: 15%;
    left: 60%;
    background-color: #ffffff;
    padding-block: 10px;
    padding-inline: 10px;
}

.unas-palabras {
    width: 1440px;
    height: 384px;
    padding-bottom: 80px;
}

.unaspalabras {
    width: 996px;
    height: 224px;
    position: relative;
    top: 20%;
    left: 15%;
}

.unaspalabras h1{
    position: relative;
    left: 40%
}

.unaspalabras h5{
    position: relative;
    left: 80%;
    top: 10%;
}

.heroimagen {
    width: 1440px;
    height: 779px;
    overflow: hidden ;
}

h1{
    font-size: 40px;
    font-family: franklin gothic heavy;
    color: rgb(0, 0, 0);
    position: relative;
    left: 650px;
}

p{
    font-size: 26px;
    font-family: franklin gothic book;
    justify-content: center;
}

h5{
    font-size: 26px;
    font-family: franklin gothic book;
    font-weight: bold;
}

.ul-footer a{
    color: black;
    text-decoration: none;
    display: inline-block;
    font-weight: lighter;
    font-family: franklin gothic book;
    font-size: 26px;
    padding-left: 20px;

}

.ul-footer li{
    display: inline-block;
    padding-bottom: 20px;
}

.footer {
    padding-block: 80px;
}

.footer div{
    position: relative;
    top: 15%;
    left: 25%;
}

.logo-footer{
    position: relative;
    left: 16%;
    padding-bottom: 20px;
}


section{
    width: 1440;
    padding-block: 40px;
}

.Conocenos{
    position: relative;
    top: 15%;
    left: 15%;
}

.Conocenos p{
    display: block;
    width: 732px;
    position: relative;
    left: 10%;
}

.Conocenos h1{
    position: relative;
    left: 30%;
}

.Equipo h5{
    position: relative;
    left: 700px;
}


.texto-miembros p{
    display: inline;
    width: 200px;
    padding-block: 80px;
}

.miembros{
    padding-block: 10px;
}

.miembros p{
    width: 400px;
    padding-left: 20px;
}

.miembros h5{
    position: relative;
    left: 31%;
}

.Fotografos{
    position: relative;
    left: 20%;
}


.servicio-fondo{
    background-image: url(assets/Servicios\ \(1\).png);
    width: 1440px;
    height: 477px;
}

.servicio-fondo h5{
    color: #ffffff;
    position: relative;
    left: 720px;
    top: 238px;
}

.servicio-fondo1{
    background-image: url(assets/Servicios\ \(2\).png);
    width: 1440px;
    height: 477px;
}

.servicio-fondo2{
    background-image: url(assets/Servicios\ \(3\).png);
    width: 1440px;
    height: 477px;
}

.servicio-fondo1 h5{
    color: #ffffff;
    position: relative;
    left: 720px;
    top: 238px;
}

.servicio-fondo2 h5{
    color: #ffffff;
    position: relative;
    left: 720px;
    top: 238px;
}

.Galería{
    width: 1134px;
    height: 1000px;
    position: relative;
    left: 15%;
}

.form{
    position: relative;
    left: 30%;
}

.gracias-contacto h1{
    position: relative;
    left: 32%;
}

.gracias-contacto p{
    position: relative;
    left: 15%;
}

.gracias-contacto{
    width: 694px;
    height: 136px;
    position: relative;
    left: 300px;
}

.hero{
    padding-block: 0px;
}

.instagram-pinteres {
    position: relative;
    left: 155%;
}

.imagen-equipo {
    display: inline;
}

.inline {
    display: inline;
}

.inline-div p {
    width: 350px;
}

.inline-div {
    float: inline-end;
    position: relative;
    right: 55%;
}

.equipo-fotografos {
    position: relative;
    left: 30%;
}

.float {
    float: inline-end;
    position: relative;
    right: 50%;
}